---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import siteMetadata from '../../data/siteMetadata'
import Link from '../../components/Link.astro'
import Views from '../../components/Views'

const content = await getCollection('posts')
const posts = content.sort(
	(a, b) => b.data.published.getTime() - a.data.published.getTime(),
)
---

<BaseLayout
	title="Blog"
	excerpt={siteMetadata.description}
	type="website"
	slug="/blog"
>
	<main class="overflow-hidden border border-dracula-dracula">
		<table class="w-full border-collapse">
			<thead>
				<tr class="border-b border-dracula-dracula">
					<th class="border-r border-dracula-dracula p-4 text-left">
						Posts ({posts.length})
					</th>
					<th class="p-4 text-left">Views</th>
				</tr>
			</thead>
			<tbody>
				{
					posts.map((post) => (
						<tr class="border-b border-dracula-dracula">
							<td class="border-r border-dracula-dracula p-4">
								<Link href={`/blog/${post.data.slug}`}>{post.data.title}</Link>
							</td>
							<td class="p-4">
								<Views slug={post.data.slug} client:visible />
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</main>
</BaseLayout>
