---
import BaseLayout from "../../layouts/BaseLayout.astro";
import siteMetadata from "../../data/siteMetadata";
import Link from "../../components/Link.astro";

// Fetch posts at runtime
const getPosts = async () => {
  const baseUrl = process.env.WP_REST_URL;
  if (!baseUrl) throw new Error("WP_REST_URL is not set!");

  const response = await fetch(
    `${baseUrl}/posts?orderby=date&order=desc&_fields=slug,title.rendered`
  );
  const posts = await response.json();
  return posts;
};

const posts = await getPosts();
const totalPosts = posts.length;
---

<BaseLayout
  title="Blog"
  description={siteMetadata.description}
  type="website"
  slug="/blog"
>
  <main
    class="divide-y divide-yellow-500 overflow-hidden border border-yellow-500"
  >
    <section>
      <h2 class="p-4 text-lg font-semibold">Posts ({totalPosts})</h2>
      {posts.map((post) => (
        <div class="flex justify-between gap-x-4 p-4 max-sm:flex-col border-t border-yellow-500">
          <Link href={`blog/${post.slug}`}>{post.title.rendered}</Link>
          {/* <ViewsCounter slug={post.slug} trackViews={false} /> */}
        </div>
      ))}
    </section>
  </main>
</BaseLayout>
