---
import BaseLayout from "../../layouts/BaseLayout.astro";
import siteMetadata from "../../data/siteMetadata";
import Link from "../../components/Link.astro";
import { fetchPublicPostList, fetchTotalPostCount } from "../../libs/fetchWP";
import Views from "../../components/Views.astro";

const perPage = 10;
const page = 1;

const posts = await fetchPublicPostList({ page, perPage });
const totalPosts = await fetchTotalPostCount();
const totalPages = Math.ceil(totalPosts / perPage);
const nextPage = totalPages > 1 ? 2 : null;
---

<BaseLayout
	title="Blog"
	description={siteMetadata.description}
	type="website"
	slug="/blog"
>
	<main class="overflow-hidden border border-dracula-dracula">
		<table class="w-full border-collapse">
			<thead>
				<tr class="border-b border-dracula-dracula">
					<th class="border-r border-dracula-dracula p-4 text-left">
						Posts ({totalPosts})
					</th>
					<th class="p-4 text-left">Views</th>
				</tr>
			</thead>
			<tbody>
				{
					posts.map((post: { slug: string; title: { rendered: string } }) => (
						<tr class="border-b border-dracula-dracula">
							<td class="border-r border-dracula-dracula p-4">
								<Link href={`/blog/${post.slug}`}>{post.title.rendered}</Link>
							</td>

							<td class="p-4">
								<Views slug={post.slug} />
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
		<nav class="flex justify-end p-4">
			{nextPage && <Link href={`/blog/page/${nextPage}`}>NEXT PAGE</Link>}
		</nav>
	</main>
</BaseLayout>
