---
import BaseLayout from "../../layouts/BaseLayout.astro";
import siteMetadata from "../../data/siteMetadata";
import Link from "../../components/Link.astro";
import { fetchPublicPostListContent } from "../../libs/fetchAPI";
import Views from "../../components/Views";

const posts = await fetchPublicPostListContent();
---

<BaseLayout
	title="Blog"
	description={siteMetadata.description}
	type="website"
	slug="/blog"
>
	<main class="overflow-hidden border border-dracula-dracula">
		<table class="w-full border-collapse">
			<thead>
				<tr class="border-b border-dracula-dracula">
					<th class="border-r border-dracula-dracula p-4 text-left">
						Posts ({posts.length})
					</th>
					<th class="p-4 text-left">Views</th>
				</tr>
			</thead>
			<tbody>
				{
					posts.map((post: { frontmatter: { slug: string; title: string } }) => (
						<tr class="border-b border-dracula-dracula">
							<td class="border-r border-dracula-dracula p-4">
								<Link href={`/blog/${post.frontmatter.slug}`}>{post.frontmatter.title}</Link>
							</td>
							<td class="p-4">
								<Views slug={post.frontmatter.slug} client:load />
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</main>

	<div class="mt-8 space-y-16">
		{
			posts.map((post: { frontmatter: { slug: string; title: string }; content: string }) => (
				<article id={post.frontmatter.slug}>
					<div set:html={post.content} />
				</article>
			))
		}
	</div>
</BaseLayout>
