---
import siteMetadata from "../data/siteMetadata";
import Analytics from "../components/Analytics.astro";

export interface Props {
	title: string;
	description: string;
	slug: string;
	published_at: Date;
	updated_at: Date;
	wordsCount: number | undefined;
	type: string;
}

const { title, description, slug, published_at, updated_at, wordsCount, type } =
	Astro.props;

const pageTitle =
	title === siteMetadata.name
		? siteMetadata.name
		: type === "article"
			? title
			: `${title} | ${siteMetadata.name}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const twitter = {
	site: "@",
	author: siteMetadata.username,
};

const isProduction = import.meta.env.PROD
const UMAMI_URL = process.env.PUBLIC_UMAMI_URL
const UMAMI_ID = process.env.PUBLIC_UMAMI_ID

const ogImage =`${siteMetadata.cdnUrl}/${slug.replace(/^blog\//, '')}/og-image.png`
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	name="robots"
	content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
/>
{title ? <title>{pageTitle}</title> : null}
{description ? <meta name="description" content={description} /> : null}
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link
	rel="alternate"
	type="application/rss+xml"
	title={`${siteMetadata.name} » RSS Feed`}
	href="/feed.xml"
/>

{/*Favicons Meta Tags*/}
<link
	href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
	rel="icon"
	type="image/x-icon"
/>
<link
	rel="icon"
	type="image/png"
	href="/favicons/favicon-96x96.png"
	sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/favicons/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="Ahmet ALMAZ" />
<link rel="manifest" href="/favicons/site.webmanifest" />

{/*Open Graph Meta Tags*/}
<meta property="og:locale" content={siteMetadata.locale} />
<meta property="og:type" content={type} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={siteMetadata.name} />
<meta name="og:image" content={ogImage} />

{/*Fediverse Tags*/}
<link rel="me" href="https://mastodon.social/@Music47ell">
<meta name="fediverse:creator" content="@Music47ell@mastodon.social">

{/*Twitter Meta Tags*/}
<meta name="twitter:card" content="summary_large_image" />
<meta
	name="twitter:site"
	content={type == "article" ? twitter.author : twitter.site}
/>
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />

{isProduction ? <script async is:inline data-astro-rerun src={UMAMI_URL} data-website-id={UMAMI_ID}></script> : null}

{/*JSON-LD*/}
<script
	type="application/ld+json"
	set:html={JSON.stringify({
		"@context": "https://schema.org",
		"@graph": [
			{
				"@type": "Article",
				"@id": `${siteMetadata.siteUrl}/${slug}`,
				isPartOf: {
					"@id": `${siteMetadata.siteUrl}/${slug}`,
				},
				author: {
					name: siteMetadata.name,
					"@id": siteMetadata.siteUrl,
				},
				headline: title,
				datePublished: published_at,
				dateModified: updated_at,
				mainEntityOfPage: {
					"@id": `${siteMetadata.siteUrl}/${slug}`,
				},
				wordCount: wordsCount,
				publisher: {
					"@id": siteMetadata.siteUrl,
				},
				image: {
					"@id": ogImage,
				},
				thumbnailUrl: ogImage,
				inLanguage: siteMetadata.locale,
			},
			{
				"@type": "WebPage",
				"@id": `${siteMetadata.siteUrl}/${slug}`,
				url: `${siteMetadata.siteUrl}/${slug}`,
				name: title,
				isPartOf: {
					"@id": `${siteMetadata.siteUrl}/${slug}`,
				},
				primaryImageOfPage: {
					"@id": ogImage,
				},
				image: {
					"@id": ogImage,
				},
				thumbnailUrl: ogImage,
				datePublished: published_at,
				dateModified: updated_at,
				description: description,
				inLanguage: siteMetadata.locale,
				potentialAction: [
					{
						"@type": "ReadAction",
						target: [`${siteMetadata.siteUrl}/${slug}`],
					},
				],
			},
			{
				"@type": "ImageObject",
				inLanguage: "en-US",
				"@id": ogImage,
				url: ogImage,
				contentUrl: ogImage,
				width: 1200,
				height: 628,
				caption: title,
			},
			{
				"@type": "BreadcrumbList",
				"@id": `${siteMetadata.siteUrl}/${slug}#breadcrumb`,
				itemListElement: [
					{
						"@type": "ListItem",
						position: 1,
						name: "Blog",
						item: siteMetadata.siteUrl,
					},
					{
						"@type": "ListItem",
						position: 2,
						name: title,
					},
				],
			},
			{
				"@type": "WebSite",
				"@id": siteMetadata.siteUrl,
				url: siteMetadata.siteUrl,
				name: siteMetadata.name,
				description: siteMetadata.description,
				publisher: {
					"@id": siteMetadata.siteUrl,
				},
				inLanguage: "en-US",
			},
			{
				"@type": "Organization",
				"@id": siteMetadata.siteUrl,
				name: siteMetadata.name,
				url: siteMetadata.siteUrl,
				sameAs: [siteMetadata.socials.map((url) => url.url)],
			},
			{
				"@type": "Person",
				"@id": `${siteMetadata.siteUrl}/colophon`,
				name: siteMetadata.name,
				image: {
					"@type": "ImageObject",
					inLanguage: siteMetadata.locale,
					"@id": `${siteMetadata.siteUrl}${siteMetadata.avatar}`,
					url: `${siteMetadata.siteUrl}${siteMetadata.avatar}`,
					contentUrl: `${siteMetadata.siteUrl}${siteMetadata.avatar}`,
					caption: siteMetadata.name,
				},
				description: siteMetadata.description,
				sameAs: [siteMetadata.socials.map((url) => url.url)],
			},
		],
	})}
/>

