---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import BaseLayout from '../layouts/BaseLayout.astro'
import Link from '../components/Link.astro'
import Views from '../components/Views'

const posts = (await getCollection("posts")) as CollectionEntry<"posts">[];

const { title, excerpt } = Astro.props;
---

<BaseLayout title={title} excerpt={excerpt} type="website" slug="/404">
	<h1 class="text-4xl font-bold p-4 text-center">{title}</h1>
	<main class="overflow-hidden border border-dracula-dracula">
		<table class="w-full border-collapse">
			<thead>
				<tr class="border-b border-dracula-dracula">
					<th class="border-r border-dracula-dracula p-4 text-left"
						>Here's 5 random posts from my blog</th
					>
					<th class="p-4 text-left">Views</th>
				</tr>
			</thead>
			<tbody>
				{
					posts
						.sort(() => Math.random() - 0.5)
						.slice(0, 5)
						.map((post) => (
							<tr class="border-b border-dracula-dracula">
								<td class="border-r border-dracula-dracula p-4">
									<Link href={`/blog/${post.data.slug}`}>{post.data.title}</Link>
								</td>

								<td class="p-4">
									<Views slug={post.data.slug} client:load/>
								</td>
							</tr>
						))
				}
			</tbody>
		</table>
	</main>
</BaseLayout>
