---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import { fetchPublicPostList } from "../libs/fetchWP";
const posts = await fetchPublicPostList();
import Views from "../components/Views";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} type="website" slug="/404">
	<h1 class="text-4xl font-bold p-4 text-center">{title}</h1>
	<main class="overflow-hidden border border-dracula-dracula">
		<table class="w-full border-collapse">
			<thead>
				<tr class="border-b border-dracula-dracula">
					<th class="border-r border-dracula-dracula p-4 text-left"
						>Here's 5 random posts from my blog</th
					>
					<th class="p-4 text-left">Views</th>
				</tr>
			</thead>
			<tbody>
				{
					posts
						.sort(() => Math.random() - 0.5)
						.slice(0, 5)
						.map((post: { slug: string; title: { rendered: string } }) => (
							<tr class="border-b border-dracula-dracula">
								<td class="border-r border-dracula-dracula p-4">
									<Link href={`/blog/${post.slug}`}>{post.title.rendered}</Link>
								</td>

								<td class="p-4">
									<Views slug={post.slug} client:load/>
								</td>
							</tr>
						))
				}
			</tbody>
		</table>
	</main>
</BaseLayout>
